

{% ckan_extends %}








{% block header_site_search %}
<div class="menu-right container-fluid">
<form class="section site-search simple-input" action="{% url_for 'dataset.search' %}" method="get">
    <div class="field">
      <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
      <input id="field-sitewide-search" type="text" class="form-control" name="q" placeholder="{{ _('Search') }}" />
      <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
    </div>
  </form>

  <div class="social-media navbar-left">
    <div class="social-icons">
    <a href="https://www.facebook.com/RVR.Ruhr" target="blank"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/metropole_ruhr" target="blank"><i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com/rvr.ruhr/"target="blank"><i class="fa fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UCCJDPVQdYd_TRVqT_sutt7g" target="blank"><i class="fa fa-youtube-play"></i></a>
  </div>
  </div>

</div>

{% endblock%}


{% block header_wrapper %}

{{ super() }}
<div class="jumbotron">
<header>
<h1> Open Data Portal Metropole Ruhr</h1>
</header>
</div>


{% endblock %}